.footer{
  border: 1px solid var(--dark-grey);
  padding: 0 88px 40px;
  border-top: none;
}

.footer_container{
  border-image-slice: 10% 10% fill;
  border-image-width: 50px 70px;
  border-image-source: url(/public/border-footer-medium.svg);
}

.footer_bottom{
  padding: 0 50px;
}

.footer_bottom:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  background-color: var(--dark-grey);
  transform: translate(-50%,-50%);
  width: calc(100% - 120px);
  z-index: 1;
}

.footer_inner{
  border-top: none;
  max-height: 580px;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 0;
}

ul li:hover{
  color: var(--icon-hover);
}


@media (max-width:744px){
  .footer{
    border: 1px solid var(--dark-grey);
    border-top: none;
    align-items: flex-start!important;
    display: flex;
    background-color: var(--black);
    margin-top: -1px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    transform: translateZ(0);
    transition: transform .4s ease;
    width: 100vw;
  }
  
  
  .footer_container{
    justify-content: center!important;
    padding-bottom: 5.625rem!important;
    padding: 0!important;
    position: relative;
    display: flex;
    max-width: 100%!important;
    width: 100%!important;
    border-image-slice: 10% 0 fill!important;
    border-image-width: 40px 0!important;
    overflow: hidden;
    transform: translateZ(0);
  }
  
  .footer_inner{
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1.875rem!important;
    padding-left: 1.25rem!important;
    padding-right: 1.25rem!important;
    margin-top: 5.3125rem!important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    max-height: 460px!important;
    padding-bottom: 10px!important;
    width: 100%!important;
  }

  .footer_inner::before{
    background-color: var(--dark-grey);
    content: "";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    display: block;
    height: calc(100% - 152px)!important;
    top: 5.3125rem!important;
    width: 1px;
    z-index: 10;
  }
  
  .FooterLogo{
    flex-shrink: 0;
    top: 1.5rem;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    align-items: center;
  }

  .header__logo__circle{
    height: 2.25rem;
    width: 2.25rem;
  }

  .footer_span{
    font-size: .875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 15px;
  }
  
  .block ul {
    margin-bottom: 0;
    margin-top: 15px;
  }

  .block_one{
    margin-bottom: 40px;
    width: 50%;
    padding-top: 0!important;
    flex-shrink: 0;
  }

  .block_two{
    margin-bottom: 40px;
    width: 50%;
    flex-shrink: 0;
  }

  .block_three{
    margin-bottom: 40px;
    padding-left: 20px!important;
    width: 50%;
    padding-top: 0;
    flex-shrink: 0;
  }

  .block_four{
    padding-left: 20px!important;
    width: 50%;
    flex-shrink: 0;
  }

  .footer_inner::after{
    height: 1px;
    margin-top: -1.875rem!important;
    width: calc(100vw - 20px)!important;
    background-color: var(--dark-grey);
    content: "";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  .footer_bottom{
    position: absolute;
    justify-content: center!important;
    align-items: center!important;
    display: flex;
    bottom: 30px!important;
    flex-direction: row-reverse;
    left: 0;
    padding: 0;
    width: 100%;
    }

    .footer_bottom:before{
      display: none!important;
    }

    .footer_blockSocial{
      justify-content: space-between!important;
      width: max-content!important;
      display: flex;
      flex-shrink: 0;
    }

    .footer_blockSocial span{
      font-size: .875rem;
      font-weight: 400;
      margin-bottom: 0;
      padding-bottom: 0;
      padding-right: 20px;
      white-space: nowrap;
      display: none!important;
    }

    .footer_blockSocial ul {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      margin-top: 0;
    }
    
    .footer_blockSocial ul li{
      margin: 0 9px;
      width: 14px;
    }

    .legal{
      font-size: .75rem;
      font-style: normal;
      font-weight: 400;
      left: 30px;
      line-height: 16px;
      padding-right: 20px;
      text-transform: uppercase;
      display: none!important;
    }

    .year{
      left: 50%;
      padding-left: 20px;
      font-size: .75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      padding-right: 20px;
      text-transform: uppercase;
      display: none;
    }
}

@media (max-width: 1280px) {
  .footer{
    align-items: flex-start;
    display: flex;
    background-color: var(--black);
    margin-top: -1px;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    
  }

  .footer_container{
    justify-content: center!important;
    padding-bottom: 5.625rem!important;
    padding: 0;
    display: flex;
    max-width: 100%;
    width: 100%;
    border-image-slice: 13% 0 fill;
    border-image-width: 70px 0;
    overflow: hidden;
    transform: translateZ(0);
  }


  .footer_inner{
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    border: none;
    max-height: 580px;
    padding: 0 70px 70px;
    margin-top: 8.75rem;
  }

  .footer_inner::before{
    background-color: var(--dark-grey);
    content: "";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    display: block;
    width: 1px;
    z-index: 10;
    height: calc(100% - 165px);
    top: 111px;
  }

  .FooterLogo{
    top: 40px;
    flex-shrink: 0;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: flex;
  }

  .header__logo__circle{
    height:  3.75rem;
    width: 3.75rem;
  }

  .block_one{
    margin-bottom: 60px;
    width: 50%;
    padding-top: 1.875rem!important;
    flex-shrink: 0;
  }

  .block_two{
    margin-bottom: 60px;
    width: 50%;
    flex-shrink: 0;
  }

  .block_three{
    margin-bottom: 60px;
    padding-top: 1.875rem;
    padding-left: 70px;
    flex-shrink: 0;
  }

  .block_four{
    padding-left: 70px;
  }
  
  .footer_inner::after{
    width: calc(100vw - 130px);
    height: 1px;
    margin-top: -1.875rem;
    background-color: var(--dark-grey);
    content: "";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  .footer_bottom{
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: flex;
    bottom: 45px;
    padding: 0 45px;
    flex-direction: row-reverse;
    left: 0;
    width: 100%;
  }
  
  .footer_bottom:before{
    content: "";
    background-color: var(--dark-grey);
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 120px);
    z-index: -1;
  }

  .footer_blockSocial{
    justify-content: flex-end;
    padding-left: 20px;
    right: 45px;
    background: black;
    width: max-content;
    display: flex;
    flex-shrink: 0;
  }

  .footer_blockSocial span{
    color: var(--grey);
    font-size: .875rem;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 20px;
    white-space: nowrap;
    display: none;
    line-height: 20px;
  }
  
  .footer_blockSocial ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 100%;
    width: auto;
  }

  .footer_blockSocial ul li{
    margin-left: 0;
    margin: 0 11px;
    width: 18px;
  }

  .legal{
    background-color: black;
    font-size: .75rem;
    font-style: normal;
    font-weight: 400;
    left: 30px;
    line-height: 16px;
    padding-left: 20px;
    text-transform: uppercase;
    display: block;
  }

  .year{
    left: 50%;
    padding-left: 20px;
    background-color: black;
    font-size: .75rem;
    font-style: normal;
    font-weight: 400;
    left: 30px;
    line-height: 16px;
    padding-right: 20px;
    text-transform: uppercase;
    transform: translateX(-50%);
    position: absolute;
    display: none;
  }

}




